html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: #999;

}

canvas {
    background-color: #000; 
}